%h1 本の保存はできません
= link_to root_path, class: "class_name", id: "id_name" do
  %p リンクです

%h1 自動変換について
%p.hoge
  何かを書きたいので書いてます<br>
  ちゃんとここに文字スタート持ってきてくれて助かります<br>
  ホンチェくんが珍しくここで寝てます<br>
  一人で寝たいのでしょう<br>
  多分私が寝ようとしたら消えると思う(泣)


.divdiv ディブディブというクラス名のディブ